<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="base.master.cs" Inherits="ExploreAll.system.templates._base" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="headContent" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="bodyContent" runat="server"></asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
